@import url('https://fonts.googleapis.com/css?family=Staatliches');

:root {
  --body-background: #22333B;

  --link-color: #FFF4E9;
  --navback-color: #254472;
  
  --phone-link-color: black;
  --phone-hover-link-color: yellow;
}



#root {
	display: table;
	width: 100%;
}

.App {
	display:table-row;
	height: 100vh;
}

.nav {
	display: table-cell;
	width: 15%;
  background-color: var(--navback-color);
  vertical-align:top;
}

.parent {
	display: table-cell;
	
}

.container {
	background: url('./images/water.jpg') no-repeat left center;
	background-size:200% 200%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	text-align: center;
	overflow: hidden;
}


html {
width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Staatliches, regular;
  background-color: var(--body-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  text-align: left;
  position: sticky !important;
	top:1em !important;
}

nav ul {
  list-style-type: none;
  padding-left: 10%;
  padding-right: 10%;
}

li {
  display: inline;
}

.logo-text {
  font-family: Staatliches;
	padding: 0 5%;
	margin: 0;
	font-size: 2.5em;
}

.image {
  max-width:100%;
  z-index: 1;
  height: 20vh;
  width: 100vw;
}

.map {
  width: 100%;
  height:70vh;
  text-align: center;
  
  

}
/*
.imgmap {
  
  object-fit: contain;
  
} */
a {
  text-decoration: none;
  border-style: solid;
  background-color: transparent;
  font-family: Staatliches;
  text-align: center;
  transition-duration: 350ms;
	font-size: 1.9em;
	display: inline-block;
	border-width: 3px;
	border-radius: 5px;
	color: var(--link-color);
	border-color: var(--link-color);
	margin-bottom: 5px;
	margin-top: 5px;
	height: 40px;
	width: 100%;
}

a:visited {
	color: var(--link-color);
}

a:hover {
	background-color: var(--link-color);
	color: var(--navback-color);
  transition-duration: 350ms;
}

.header {
  z-index: 1;
  max-height: 150px;
  height: 20vh;
  width: 100%;
  overflow-y: hidden;
}

.page-content {
  padding: 0 1em;
}

.white-background {
  background-color:white;
}

.text {
  color: white;
  text-align: center;
  font-size: 2vw;

}

.chart-container {
  position: relative; 
  height:70vh; width:80vw;
}

.alertArea {
  color: white;
}

.alert {
  color: rgba(255,105,97,1);
  text-align: center;
  font-size: 2em;
}