@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
  margin: 0;
  padding: 0;
  font-family: Staatliches, regular;
  background-color: #22333B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: inline-block;
  height: 100%;
  width: 20%;
  background-color: #254472;
  text-align: left;
}

nav ul {
  list-style-type: none;
  padding-left: 10%;
  padding-right: 10%;
}

a {
  font-size: 32px;
  display: inline-block;
  text-decoration: none;
  border-color: #FFF4E9;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  background-color: transparent;
  color: #FFF4E9;
  font-family: Staatliches;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 40px;
  width: 100%;
  text-align: center;
  
  transition-duration: 350ms;
}

a:visited {
  color: #FFF4E9;
}

a:hover {
  background-color: #FFF4E9;
  color: #22333B;
  transition-duration: 350ms;
}

.header {
  font-family: Staatliches;
  font-size: 38px;
  color: #FFF4E9;
  margin: 5%;
}